.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 5rem; */
  min-height: 100vh;
  background: rgba(29, 78, 216, 0.15);
  /* rgba(29, 78, 216, 0.15) */
  /* 29, 78, 216, 0. */
  /* 148,163,184,0.1 */
}

.container::-webkit-selection {
  color: red;
  background-color: rgb(77, 182, 172);
}

.container::selection {
  color: red;
  background-color: rgb(77, 182, 172);
}

.left_side {
  width: 50%;
  height: 90%;
  padding: 5rem 0.5rem 5rem 9.5rem;
  position: fixed;
}

.right_side {
  width: 50%;
  padding: 0 4.5rem 0 0.5rem;
  overflow: auto;
  margin-left: 50vw;
}

.left_side h2,
.left_side label,
.left_side p,
.right_side p {
  padding: 0.75rem 0 0.75rem 0;
}

.left_side p,
.right_side p {
  color: lightgray;
}

.header {
  height: calc(30vh + 50px);
}

.sections {
  height: calc(30vh + 40px);
  align-items: center;
}

.container section {
  padding: 1rem 0 1rem 0;
}

.links {
  /* position: absolute;
  bottom: 0; */
  padding-bottom: 50px;
}

.links a {
  padding: 0 0.75rem 0 0.75rem;
}

.about_me,
.experience,
.projects {
  padding: 5rem;
}

.experience_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  border-radius: 25px;
}

.experience_card:hover {
  background-color: rgba(29, 78, 216, 0.5);
  color: rgb(77, 182, 172);
}

.time_frame {
  font-size: small;
  width: 30%;
}

.experience_info {
  width: 65%;
}

.experience_info p {
  font-size: small;
}
